<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
	</head>
	<title>{{ page.title }}</title>
	<body>
		<main>
		<aside id="left">
			<span class="avatar"><img src="https://avatars3.githubusercontent.com/u/142175"></img></span>
			<span class="name">Josh Hollandsworth</span>
			<span class="icons">
				<i class="fa fa-twitter"></i>
				<i class="fa fa-github"></i>
				<i class="fa fa-envelope"></i>
				<i class="fa fa-feed"></i>
			</span>
		</aside>
		<section>
			{{ content }}
		</section>
		</main>
	</body>
</html>

